/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos para el contenido */
#contenido {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

#contenido h2 {
    color: #333;
}

#contenido p {
    line-height: 1.4;
}

/* Estilos para el formulario de contacto */
#contacto {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color:
